<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教学管理系统</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!--<link rel="apple-touch-icon-precomposed" href="./static/ios-desktop.png">-->
    <meta name="msapplication-TileColor" content="#3372DF">
    <!--<link rel="shortcut icon" href="./static/favicon.png">-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/fontAwesome/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/googleapis/roboto.css">-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/googleapis/icon.css">-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/uui/css/u.css">-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/uui/css/u-extend.css">-->
    <!--<link rel="stylesheet" type="text/css" href="style/style.css">-->
    <script type="text/javascript" src="vendor/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" charset="utf-8" src="vendor/html5shiv.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="vendor/uui/js/u-polyfill.js"></script>
    
</head>

<body>
    <div class="demo-layout  u-navlayout u-navlayout-fixed-drawer u-navlayout-fixed-header">
        <header class="demo-header u-navlayout-header">
            <div class="u-navlayout-header-row" >
               <span class="u-navlayout-title" id='navTag'>欢迎使用</span>
                <div class="u-navlayout-spacer"></div>
                <button class="u-button u-button-icon" id="hdrbtn">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="u-menu u-menu-bottom-right" for="hdrbtn">
                      <li class="u-menu-item">设置</li>
                      <li class="u-menu-item">关于</li>
                      <li class="u-menu-item"><a href="/iuap_product_boot/logout">注销</a></li>
                </ul>
            </div>
        </header>
        <div class="demo-drawer demo-folded u-navlayout-drawer u-navlayout-fixed-header" style="overflow-y:hidden;box-shadow:none">
            <header class="u-navlayout-header bg-indigo-700">
                <a class="demo-drawer-nav-brand">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                    width: 24px; height: 24px;">
                        <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
                        <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
                        <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
                        <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
                    </svg>
                    <span class="demo-hidden-folded u-color-text-white " style="margin-left: 16px;">教学管理系统</span>
                </a>
            </header>
            <div id="menuarea" class="u-color-white" style="-webkit-flex-shrink:1;-ms-flex-negative: 1;flex-shrink: 1;overflow:auto;position: absolute;top: 64px;width: 100%;bottom: 0px;"><!--刘月凯 增加 overflow 20160718 -->
                <nav class="demo-navigation u-nav" id='menu'>	

                </nav>
            </div>
        </div>
        
        <!-- 内容 -->
        <main id='content' class="demo-content u-navlayout-content u-color-grey-100">
            <h2>欢迎使用本系统
                <small>从左侧当行选择您的操作</small>
                <span class="u-tag u-tag-success u-tag-round">beta</span>
            </h2>
        </main>
    </div>
    
    <!--<script type="text/javascript" src="vendor/requirejs/require.js"></script>-->
    <!--<script type="text/javascript" src="config/require.config.js"></script>-->
    <script type="text/javascript" charset="utf-8" src="js/baiduTemplate/baiduTemplate.js"></script>
    <script type="text/javascript" src="vendor/uui/js/u.js"></script>
    <script type="text/javascript" src="vendor/knockout/knockout-3.2.0.debug.js"></script>
    <script type="text/javascript" src="vendor/director/director.js"></script>
    <script type="text/javascript" src="js/share.js"></script>
    <script type="text/javascript" src="js/qrcode.js"></script>
    <script type="text/javascript" src="js/print.js"></script>
    <script type="text/javascript" src="js/filesystem/ajaxfileupload.js"></script>
    <script type="text/javascript" src="js/print.js"></script>
    
    
    
    
    
    
    <!--<script type="text/javascript" src="index.js"></script>-->
   
</body>

</html>