<html>
<head>
<script type="text/javascript" src="vendor/jquery/jquery-1.11.2.js"></script>
<script type="text/javascript" charset="utf-8" src="pages/test_order/bank_selected.js"></script> 
<link rel="stylesheet" type="text/css" href="pages/test_order/order.css" />
</head>
<body>
<title>订单支付</title>
	<div>
		<form name="payment_form" action="/iuap_product_boot/pay/bill" method="post" target="_self">
			<div id="form_body" >
				<dl class="content">
				
					<div style="display: none;">
						<dt nowrap>订单类型：</dt>
						<dd nowrap><strong><input type="text" id="order_name" name="order_name" value="MacBook新一代" /></strong></dd>
					</div>
				
					<div >
						<dt nowrap>订单编号：</dt>
						<dd nowrap><strong><input type="text" id="out_trade_no" name="out_trade_no" value="" /></strong></dd>
					</div>
					<div>
						<dt nowrap><label class="red-star">*</label>支付金额（元）：</dt>
						<dd nowrap><strong><input type="text" id="total_fee" name="total_fee" value="0" /></strong></dd>
					</div>
					<div>
						<dt nowrap>商品描述：</dt>
						<dd nowrap><strong><input type="text" id="goods_des" name="goods_des" value="" /></strong></dd>
					</div>
					
					<div style="display: none;">
						<dt nowrap>商品数量：</dt>
						<dd nowrap><strong><input type="text" name="trade_quantity" value="1" /></strong></dd>
					</div>
					
					<div style="display: none;">
						<dt nowrap>return_url：</dt>
						<dd nowrap><strong><input type="text" name="pay_return" value="" /></strong></dd>
					</div>
					
					<div style="display: none;">
						<dt nowrap>noyify_url：</dt>
						<dd nowrap><strong><input type="text" name="pay_notify" value="" /></strong></dd>
					</div>
					
					<div style="display: none;">
						<dt nowrap>订单创建时间：</dt>
						<dd nowrap><strong><input type="text" name="orderTime" value=""  /></strong></dd>
					</div>
					
					<div>
						<dt nowrap><label class="red-star"> * </label>付款方式：</dt>
						<dd nowrap>
							<div class="pay_channel_list">
								<div><input type="radio" name="pay_type" style="width:15px;" value="ALI_APY" onclick="notShowBankList()" checked/><label>支付宝账户支付/扫码支付</label><br></div>
								<div><input type="radio" name="pay_type" style="width:15px;" value="ALI_BANK" onclick="showBankList()"/><label>支付宝网银支付</label><br></div>
								<div><input type="radio" name="pay_type" style="width:15px;" value="ALI_GU" onclick="notShowBankList()" /><label>支付宝担保交易</label><br></div>
								<div><input type="radio" name="pay_type" style="width:15px;" value="WX_SCAN" onclick="notShowBankList()" /><label>微信扫码支付</label><br></div>
								<div><input type="radio" name="pay_type" style="width:15px;" value="CHANJETPAY" onclick="notShowBankList()" /><label>畅捷支付</label><br></div>
							</div>
						</dd>
					</div>
					
					<div class="bank-list">
						<dt>付款银行：</dt>
						<dd class="payment-list type-check">
							<ul class="pl-wrap">
								<li class="pl-item selected">
									<span class="bank-logo" id="bank-icbc">中国工商银行</span>
									<i class="pl-i-selected"></i>
									<input type="radio" class="radio_bank_code" name="pay_bank" value="ICBC" checked="checked">
								</li>
								<li class="pl-item">
									<span class="bank-logo" id="bank-ccb">中国建设银行</span>
									<i class="pl-i-selected"></i>
									<input type="radio" class="radio_bank_code" name="pay_bank" value="CCB">
								</li>
								<li class="pl-item"><span class="bank-logo" id="bank-cmb">招商银行</span>
									<i class="pl-i-selected"></i>
									<input type="radio" class="radio_bank_code" name="pay_bank" value="CMB">
								</li>
								<li class="pl-item"><span class="bank-logo" id="bank-abc">中国农业银行</span>
									<i class="pl-i-selected"></i>
									<input type="radio" class="radio_bank_code" name="pay_bank" value="ABC">
								</li>
							</ul>
						</dd>
					</div>
					
					<dd>
						<span class="new-btn-login-sp">
							<button class="new-btn-login" type="submit" style="text-align: center;">确 认</button>
						</span>
					</dd>
					
				</dl>
			</div>
		</form>
	</div>
<script type="text/javascript">

	$(document).ready(function() {debugger;
		var infoId;
	     var reg = new RegExp("(^|&)infoId=([^&]*)(&|$)");
	     var r = window.location.search.substr(1).match(reg);
	     if(r!=null){
	    	 infoId=unescape(r[2]);
	     }
		if(infoId!=null){
			$.ajax({
			url:'/iuap_product_boot/test_order/detail/' + infoId + '?t=' + Date.now() ,
			type:'get',
			dataType : 'json',
			success: function(res){debugger;
				$("#order_name").val(res.data.order.type);
				$("#out_trade_no").val(res.data.order.code);
				$("#total_fee").val(res.data.order.budget);
				$("#goods_des").val(res.data.order.content);
			}					
		}) 
		}	
	});	

</script>
</body>