body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "microsoft yahei";
    background-color: #213049;
}

img {
    border: 0px;
}

.wrap {
    width: 100%;
    min-width: 940px;
}

.head {
    width: 100%;
    height: 48px;
    overflow: hidden;
}

.LOGO {
    width: 242px;
    height: 48px;
    line-height: 133px;
    text-align: center;
    float: left;
}

.LOGO img {
    margin-top: -75px;
    margin-left: -75px;
    width: 50%;
}

.LOGO a {
    display: block;
    width: 242px;
    height: 133px;
}

.banner {
    height: 133px;
    line-height: 133px;
    width: auto;
    float: left;
}

.banner strong {
    font-size: 33px;
    color: #FFF;
    margin-left: 30px;
}

.search {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding-top: 30px;
    float: right;
}

.search input {
    width: 180px;
    height: 30px;
    border: 1px solid pink;
    vertical-align: middle;
    font-size: 15px;
    padding-left: 10px;
}

.search img {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}

.main {
    width: 99%;
    height: auto;
    overflow: hidden;
}

.left {
    width: 190px;
    float: left;
    position: relative;
}

.left ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: -30px;
}

.left ul li {
    height: 46px;
    line-height: 46px;
    width: 100px;
    min-width: 170px;
    /*border-bottom: 1px solid #1f262d;*/
    /*box-shadow: 0px 1px 1px #ececec;*/
    font-size: 15px;
}

.left i {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transform: rotateZ(-360deg);
}

.left i:hover {
    -webkit-transition: all 0.8s ease;
    -webkit-transform: rotateZ(360deg);
}

.left a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -webkit-transform: rotateZ(0deg);
}

.left a:hover {
    background-color: #77b9d7;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.li-current {
    background: url(../images/arrow.png) no-repeat right center;
    background-color: #00a1e9;
}

.li-current i.icon {
    margin-left: 50px;
    -webkit-transform: rotateZ(360deg);
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    margin-left: 13px;
    vertical-align: middle;
}

.icon1 {
    background: url(../images/1.png) no-repeat center;
}

.icon2 {
    background: url(../images/2.png) no-repeat center;
}

.icon3 {
    background: url(../images/3.png) no-repeat center;
}

.icon4 {
    background: url(../images/4.png) no-repeat center;
}

.icon5 {
    background: url(../images/5.png) no-repeat center;
}

.icon6 {
    background: url(../images/6.png) no-repeat center;
}

.icon7 {
    background: url(../images/7.png) no-repeat center;
}

.icon-home {
    background: url(../images/nav_icon_home.png) no-repeat center;
}

.right {
    width: 84%;
    height: auto;
    float: right;
    background-color: #FFF;
    overflow: auto;
}

.navgater {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    background-color: #087cd1;
    display: block;
    text-indent: 0px;
    border-bottom: 1px solid #d9dada;
}

.title {
    font-size: 24px;
    font-weight: 100;
    border-bottom: 1px solid #d9dada;
}

.content {
    background-color: #FFF;
    height: 600px;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

.panel {
    width: 100%;
    /*height: 100%;*/
    position: relative;
    /*background-color: pink;*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #00A1E9;
}

.panel .panel-title {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 15px;
    position: relative;
    background-color: #00A1E9;
    color: #FFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.panel .panel-content {
    position: relative;
    width: 100%;
    height: auto;
    /*background-color: #67CF22;*/
}


/* CSS3 Loading Start*/

.spinner {
    width: 60px;
    height: 60px;
    background-color: #67CF22;
    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/* CSS3 Loading End*/
