	/* base yui reset.css, repair 20091217*/
	
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	font,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend {
		margin: 0;
		padding: 0;
		border: 0;
		word-wrap: break-word;
		word-break: break-all;
	}
	
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td {
		margin: 0;
		padding: 0;
	}
	
	table {
		border-collapse: collapse;
	}
	
	address,
	caption,
	cite,
	code,
	dfn,
	strong,
	th,
	var {
		font-style: normal;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1em;
	}
	
	input,
	textarea,
	select {
		font-family: inherit;
		font-weight: inherit;
		font-size: 1em;
		padding: 0;
		outline: none;
	}
	
	ul,
	ol {
		list-style: none;
	}
	
	em {
		font-style: normal;
	}
	/*html {background:#f2f2f2;}*/
	
	body {
		font-size: 0.75em;
		color: #606060;
		/*background:#f2f2f2;*/
		font-family: "微软雅黑", Verdana, Tahoma, Arial, Helvetica, "宋体", sans-serif;
		word-wrap: break-word;
		word-break: break-all;
	}
	
	a {
		color: #606060;
		text-decoration: none;
	}
	
	a:hover {
		color: #005aa9;
	}
	
	a img,
	img {
		border-width: 0px;
	}
	
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	
	.clearfix {
		*zoom: 1;
		clear: both;
	}
	/* reset end */