<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"  metadata-complete="true">
  <display-name>iuap_product_boot</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
	  classpath*:/applicationContext.xml,
	  classpath*:/applicationContext-cache.xml,
	  classpath*:/applicationContext-coderule.xml,	 
	  classpath*:/applicationContext-persistence.xml,
	  classpath*:/applicationContext-shiro.xml,
	  classpath*:/applicationContext-consumer.xml,
	  classpath*:/applicationContext-producer.xml,
	  classpath*:/applicationContext-mq-consumer.xml,
	  classpath*:/applicationContext-mq-provider.xml,
	  classpath*:/applicationContext-dubbo-consumer.xml,
	  classpath*:/applicationContext-dubbo-provider.xml,
	  classpath*:/busilog-applicationContext.xml,
	  classpath*:/eventlocal-applicationContext.xml,
	  classpath*:/securitylog-local-sdk-applicationContext.xml,
	  classpath*:/pay-applicationContext.xml,
	  classpath*:/applicationContext-dispatch-client.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>spring-mvc-servlet-name</param-name>
    <param-value>springServlet</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.yonyou.iuap.listener.CustomServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <!--工具组做模板工程需要，默认注释以下过滤器，需要验证登录时候放开-->

  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
     
  <filter>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>rbacauth</filter-name>
    <filter-class>com.yonyou.uap.ieop.security.filter.AuthorizationCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>rbacauth</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <!-- 打印组件servlet -->
  <servlet>
	  <description></description>
	  <display-name>PrintController</display-name>
	  <servlet-name>PrintController</servlet-name>
	  <servlet-class>com.yonyou.uap.ieop.print.controller.PrintController</servlet-class>
	  <init-param>
		 <param-name>pdfPrintTemplate</param-name>
		 <param-value>com.yonyou.iuap.example.print.GoodPdfPrintTemplateImpl</param-value>
	  </init-param>
   </servlet>
   <servlet-mapping>
	   <servlet-name>PrintController</servlet-name>
	   <url-pattern>/PrintController</url-pattern>
   </servlet-mapping>
   <!-- 电商连接servlet -->
	<servlet>
		<servlet-name>ecadapter</servlet-name>
		<servlet-class>com.yonyou.uap.ieop.ecadapter.service.ECAdapterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ecadapter</servlet-name>
		<url-pattern>/ecadapter</url-pattern>
	</servlet-mapping>
	<!-- 后台调度任务servlet -->
	<servlet>
	  	<servlet-name>DispatchClientServlet</servlet-name>
	 	<servlet-class>com.yonyou.iuap.dispatch.client.controller.DispatchClientServlet</servlet-class>
	</servlet>
    <servlet-mapping>
  	    <servlet-name>DispatchClientServlet</servlet-name>
  	    <url-pattern>/dispatchClientServlet</url-pattern>
    </servlet-mapping>
    
    <!-- 第三方登录servlet -->
	<servlet>
		<servlet-name>login_servlet</servlet-name>
		<servlet-class>com.yonyou.uap.ieop.login.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login_servlet</servlet-name>
		<url-pattern>/login_servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>return_servlet</servlet-name>
		<servlet-class>com.yonyou.uap.ieop.login.servlet.QQAfterLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>return_servlet</servlet-name>
		<url-pattern>/extlogin/qq</url-pattern>
	</servlet-mapping>
	<!-- 事件中心监听servlet -->
    <servlet>
	    <servlet-name>StartEventListenerServlet</servlet-name>
	    <servlet-class>com.yonyou.iuap.example.eventcenter.StartEventListenerServlet</servlet-class>
	    <load-on-startup>2</load-on-startup>
    </servlet>
     <!-- 事件中心发送服务-签名验证 -->
     <filter>
          <filter-name>SendEventMsgSecurityFilter</filter-name>
          <filter-class>com.yonyou.iuap.example.eventcenter.SendEventMsgSecurityFilter</filter-class>
     </filter>
     <filter-mapping>
          <filter-name>SendEventMsgSecurityFilter</filter-name>
          <url-pattern>/eventmanager/*</url-pattern>
     </filter-mapping>
</web-app>