<div class="u-mdlayout" id="demo-mdlayout">

	<!--
	<div class="u-tabs">
	<div class="u-tabs__tab-bar">
	<a href="#tab-panel-1" class="u-tabs__tab is-active">正在执行任务</a>
	<a href="#tab-panel-2" class="u-tabs__tab">已经完成任务</a>
	<a href="#tab-panel-3" class="u-tabs__tab">待选择任务</a>
	</div>
	<div class="u-tabs__panel is-active" id="tab-panel-1">
	<ul>
	<li>项目1</li>
	<li>项目2</li>
	<li>项目3</li>
	<li>项目4</li>
	<li>项目5</li>
	</ul>
	</div>
	<div class="u-tabs__panel" id="tab-panel-2">
	<ul>
	<li>项目1</li>
	<li>项目2</li>
	<li>项目3</li>
	</ul>
	</div>
	<div class="u-tabs__panel" id="tab-panel-3">
	<ul>
	<li>项目1</li>
	<li>项目2</li>
	</ul>
	</div>
	</div>

	-->
	
	 
	

	<div class="u-mdlayout-master" style="display:none"></div>
	<div class="u-mdlayout-detail">
		<div class="u-mdlayout-page u-navlayout-fixed-header current" id="list">
			<div class="u-mdlayout-page-section">

				<div class="u-container-fluid u-widget-bg">
					<div class="u-row">
						<div class="u-col-12">
							<div class="u-widget" style="background-color:transparent">
								<button class="u-button raised primary m-r-sm" data-bind="click: events.beforeAdd">
									添加
								</button>
								<button class="u-button raised" data-bind="click: events.delRow">
									删除
								</button>
								<button class="u-button raised" data-bind="click: events.print">
									打印
								</button>

								<div class="u-input-group u-has-feedback u-right m-r-sm">
									<input type="text" class="u-form-control sm" placeholder="搜索" data-bind="value:searchText,event:{keyup: events.searchKeyUp}"/>
									<span class="u-form-control-feedback sm fa fa-search" data-bind="click:events.search"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="u-row">
						<div class="u-col-12">
							<div class="u-widget">
								<div class="u-widget-heading">
									<!-- 参照不需要的代码-->
									<h3 class="u-widget-title">测试项目列表</h3>
								</div>
								<div class="u-widget-body" id="table-list">
									<table class="u-table" style="width:100%;">
										<thead>
											<tr>
												<th><label class="u-checkbox only-style" data-bind="click: mainDataTable.toggleAllSelect.bind(mainDataTable), css:{'is-checked': mainDataTable.allSelected()}">
													<input id="checkInput" type="checkbox" class="u-checkbox-input">
													<span class="u-checkbox-label"></span> </label></th>

												<th>订单id</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>组织者id</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>是否完成</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>是否结算</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>任务报酬</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>订单子表id</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>执行任务者id</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>测试任务名称</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>测试任务编码</th><!--xzn AUTOCREATE BY EXCEL-->
												<th>测试任务id</th><!--xzn AUTOCREATE BY EXCEL-->

											</tr>
										</thead>
										<tbody data-bind="foreach:{data:mainDataTable.rows(),as:'row', afterAdd: events.afterAdd}" >
											<tr data-bind="css: { 'is-selected' : row.selected() } ,attr:{'id': $index()}">
												<td class="checkbox1"><label class="u-checkbox only-style u-checkbox-floatl" data-bind="click: row.multiSelect, css:{'is-checked': row.selected()}">
													<input type="checkbox" class="u-checkbox-input">
													<span class="u-checkbox-label"></span> </label></td>

												<td data-bind="text: row.ref('orderid')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('organigerid')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('isfinished')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('issettle')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('taskfee')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('orderbid')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('dotaskuserid')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('testtaskname')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('testtaskcode')"></td><!--xzn AUTOCREATE-->
												<td data-bind="text: row.ref('testtaskid')"></td><!--xzn AUTOCREATE-->

												<td><a href="javascript:;" class="m-r-sm" data-bind="click:$parent.events.beforeEdit.bind($data,  $index())">修改</a><a href="javascript:;" data-bind="click:$parent.events.viewRow.bind($data, $index())">查看</a></td>
											</tr>
										</tbody>
									</table>
									<div id='pagination' class='u-pagination pagination' u-meta='{"type":"pagination","data":"mainDataTable","pageChange":"events.pageChangeFunc","sizeChange":"events.sizeChangeFunc"}'></div>

								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!--编辑/新增-->
		<!-- 参照不需要的代码-->

		<div class="u-mdlayout-page u-navlayout-fixed-header" id="addPage">
			<div class="u-mdlayout-page-section">
				<div class="u-container-fluid u-widget-bg">
					<div class="u-row">
						<div class="u-col-12">
							<div class="u-widget" style="background-color:transparent">
								<button class="u-button raised m-r-sm" data-bind="click: events.goBack">
									返回
								</button>
								<button class="u-button raised primary" data-bind='click:events.addOrEditRow'>
									保存
								</button>
								<button class="u-button raised primary" data-bind='click:events.addAttachRow'>
									附件
								</button>
							</div>
						</div>
					</div>
					<div class="u-row">
						<div class="u-col-12">
							<div class="u-widget">
								<div class="u-widget-heading">
									<h3 class="u-widget-title">测试任务增加信息</h3>
								</div>
								<div class="u-widget-body form-container">
									<div class="u-container-fluid">
										<div class="u-row">
											<!--第三部分html-->

											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">订单id</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="订单id" u-meta='{"id":"orderid","type":"varchar","data":"infodata","field":"orderid"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">组织者id</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="组织者id" u-meta='{"id":"organigerid","type":"varchar","data":"infodata","field":"organigerid"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">是否完成</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="是否完成" u-meta='{"id":"isfinished","type":"tinyint","data":"infodata","field":"isfinished"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">是否结算</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="是否结算" u-meta='{"id":"issettle","type":"tinyint","data":"infodata","field":"issettle"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">任务报酬</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="任务报酬" u-meta='{"id":"taskfee","type":"bigint","data":"infodata","field":"taskfee"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">订单子表id</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="订单子表id" u-meta='{"id":"orderbid","type":"varchar","data":"infodata","field":"orderbid"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">执行任务者id</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="执行任务者id" u-meta='{"id":"dotaskuserid","type":"varchar","data":"infodata","field":"dotaskuserid"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">测试任务名称</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="测试任务名称" u-meta='{"id":"testtaskname","type":"varchar","data":"infodata","field":"testtaskname"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">测试任务编码</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="测试任务编码" u-meta='{"id":"testtaskcode","type":"varchar","data":"infodata","field":"testtaskcode"}'>
											</div>
											<div class="u-col-1 u-col-sm-4">
												<label class="u-input-label right">测试任务id</label>
											</div>
											<div class="u-col-3 u-col-sm-8 m-b-md">
												<input type="text" class="u-form-control" placeholder="测试任务id" u-meta='{"id":"testtaskid","type":"char","data":"infodata","field":"testtaskid"}'>
											</div>

											<!--第三部分html 结束-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="u-mdlayout-page u-navlayout-fixed-header" id="showPage">
				<div class="u-mdlayout-page-section">
					<div class="u-container-fluid u-widget-bg">
						<div class="u-row">
							<div class="u-col-12">
								<div class="u-widget" style="background-color:transparent">
									<button class="u-button raised primary m-r-sm" data-bind="click: events.goBack">
										返回
									</button>
								</div>
							</div>
						</div>
						<div class="u-row">
							<div class="u-col-12">
								<div class="u-widget">
									<div class="u-widget-heading">
										<h3 class="u-widget-title">测试项目信息</h3>
									</div>
									<div class="u-widget-body form-container">
										<ul class="u-form-browse">

											<!--第四部分html -->

											<li class="m-v">
												<label class="u-control-label w-sm">orderid:</label>
												<span data-bind="text:mainDataTable.ref('订单id')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">organigerid:</label>
												<span data-bind="text:mainDataTable.ref('组织者id')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">isfinished:</label>
												<span data-bind="text:mainDataTable.ref('是否完成')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">issettle:</label>
												<span data-bind="text:mainDataTable.ref('是否结算')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">taskfee:</label>
												<span data-bind="text:mainDataTable.ref('任务报酬')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">orderbid:</label>
												<span data-bind="text:mainDataTable.ref('订单子表id')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">dotaskuserid:</label>
												<span data-bind="text:mainDataTable.ref('执行任务者id')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">testtaskname:</label>
												<span data-bind="text:mainDataTable.ref('测试任务名称')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">testtaskcode:</label>
												<span data-bind="text:mainDataTable.ref('测试任务编码')"></span>
											</li>
											<li class="m-v">
												<label class="u-control-label w-sm">testtaskid:</label>
												<span data-bind="text:mainDataTable.ref('测试任务id')"></span>
											</li>

											<!--第四部分html 结束-->

										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<div id="qrcode"
			style="display: none; position: absolute; top: 300px; left: 40%; padding: 16px; border: 2px solid gray; background-color: white; z-index: 1003; overflow: auto;">
				<a href="javascript:void(0)"
				onclick="document.getElementById('qrcode').style.display='none'"> <img src="images/saas/x.png" border="0"
				style="float: right;" alt="关闭"> </a>
			</div>
			<!--end分享层 -->

		</div>
	</div>

	<!--下面的代码
	<li>项目2</li>
	<li>项目3</li>
	<li>项目4</li>
	<li>项目5</li>
	</ul>
	</div>
	<div class="u-tabs__panel" id="tab-panel-2">
	<ul>
	<li>项目1</li>
	<li>项目2</li>
	<li>项目3</li>
	</ul>
	</div>
	<div class="u-tabs__panel" id="tab-panel-3">
	<ul>
	<li>项目1</li>
	<li>项目2</li>
	</ul>
	</div>
	</div>

	-->

