html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
}
body {
    color: #333;
    font-family: Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 150%;
}
body {
    background: none repeat scroll 0 0 #f2f2f2;
}
.w1 {
    margin: 0 auto;
    width: 890px;
}
#entry {
    background: none repeat scroll 0 0 #e8e8e8;
    border-radius: 3px;
    margin: 60px auto 55px;
    padding: 5px;
    position: relative;
}
.m, .mt, .mc, .mb {
    overflow: hidden;
}
#entry .mc {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e1e1e1;
    height: 355px;
}
#entry .form {
    height: 354px;
    overflow: hidden;
    position: absolute;
    right: 32px;
    top: 18px;
    width: 320px;
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    padding-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #d1dade;
    -webkit-border-radius: 3px;
    background-image: none !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.12s linear 0s !important;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-danger {
    color: #ffffff;
    background-color: #f35958;
}
.form .item {
    overflow: hidden;
}
#entry .item {
    height: 64px;
    line-height: 26px;
    overflow: visible;
    position: relative;
    width: 320px;
    z-index: 1;
}
#entry .fore1 {
    z-index: 10;
}
#entry .item span {
    color: #999999;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
}
#entry .item .item-ifo {
    position: relative;
    width: 307px;
}
.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}
#entry .text {
    border: 1px solid #cccccc;
    float: none;
    font-family: arial,"宋体";
    font-size: 14px;
    height: 34px;
    line-height: 24px;
    padding: 4px 20px 4px 3px;
    width: 282px;
}
#entry .item-ifo .ico {
    position: absolute;
    right: 12px;
    z-index: 5;
}

#entry .fore2 {
    z-index: 8;
}

#entry .login-btn2013 {
    height: 52px;
}
.btn-img {
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
#entry .btn-entry {
    width: 284px;
}
.free-regist {
    background: none repeat scroll 0 0 #e8e8e8;
    border-radius: 0 0 3px 3px;
    bottom: -31px;
    height: 32px;
    line-height: 32px;
    padding: 0 5px 5px;
    position: absolute;
    right: 42px;
    text-align: center;
    width: 115px;
}
.free-regist span {
    background: none repeat scroll 0 0 #7cbe56;
    border-radius: 0 0 3px 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 32px;
    text-align: center;
    width: 115px;
}
a:link, a:visited {
    color: #333;
    text-decoration: none;
}
.free-regist a:link, .free-regist a:visited {
    color: #ffffff;
}
a { color: #666; }
.other-login .cf{width:400px;height:168px;}
.other-login ul{ margin:20px 0 0 0;}
.other-login ul li{ float:left; height:40px; line-height:40px; width:160px; font-size:14px; margin:0 0 20px 0;display: block;}
.other-login ul li a{ display:block; padding-left:50px; position:relative; opacity:0.55; filter:alpha(opacity=55);}
.other-login ul li a:hover{color: #444444; opacity:1; filter:alpha(opacity=100);}
.other-login ul li a i {background:url(../images/saas/login-icon.png) 0 0; position:absolute; left:0; top: 50%; width:38px; height:38px; margin: -19px 0 0 }
.other-login ul li.i1 a i{ background-position: 0 0 }
.other-login ul li.i2 a i{ background-position: -52px 0 }
.other-login ul li.i3 a i{ background-position: 0 -48px }
.other-login ul li.i4 a i{ background-position: -52px -48px }
.other-login ul li.i5 a i{ background-position: 0 -96px }
.other-login ul li.i6 a i{ background-position: -52px -96px }




























