<!-- 页面内容区(HTML片段，不能放置HTML 及 BODY 标签 )-->
<div id="test_task">
<div class="u-container-fluid">
  <div class="u-row">
                  <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">testtaskcode:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="testtaskcode" u-meta='{"type":"string","data":"TestTaskJdbc","field":"testtaskcode"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">testtaskname:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="testtaskname" u-meta='{"type":"string","data":"TestTaskJdbc","field":"testtaskname"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">dotaskuserid:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="dotaskuserid" u-meta='{"type":"string","data":"TestTaskJdbc","field":"dotaskuserid"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">orderid:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="orderid" u-meta='{"type":"string","data":"TestTaskJdbc","field":"orderid"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">organigerid:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="organigerid" u-meta='{"type":"string","data":"TestTaskJdbc","field":"organigerid"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">orderbid:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="orderbid" u-meta='{"type":"string","data":"TestTaskJdbc","field":"orderbid"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">taskfee:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="taskfee" u-meta='{"type":"string","data":"TestTaskJdbc","field":"taskfee"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">issettle:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="issettle" u-meta='{"type":"string","data":"TestTaskJdbc","field":"issettle"}'>
        </div>
                                                                                                <div class="u-col-1 u-col-sm-4">
          <label class="u-input-label right">isfinished:</label>
        </div>
        <div class="u-col-3 u-col-sm-8 m-b-md">
          <input type="text" class="u-form-control" placeholder="isfinished" u-meta='{"type":"string","data":"TestTaskJdbc","field":"isfinished"}'>
        </div>
                                                                                    </div>
</div>


<!--数据表格--开始>
	
	<div type="text" u-meta='{"id":"grid","data":"TestTaskJdbc","type":"grid","editable":true,"multiSelect":true}'>
		<div
			options='{"field":"testtaskcode","dataType":"java.lang.String","title":"testtaskcode","editType":"String","editable":true}'></div>
		<div
			options='{"field":"testtaskname","dataType":"java.lang.String","title":"testtaskname","editType":"String","editable":true}'></div>
		<div
			options='{"field":"dotaskuserid","dataType":"java.lang.String","title":"dotaskuserid","editType":"String","editable":true}'></div>
		<div
			options='{"field":"orderid","dataType":"java.lang.String","title":"orderid","editType":"String","editable":true}'></div>
		<div
			options='{"field":"organigerid","dataType":"java.lang.String","title":"organigerid","editType":"String","editable":true}'></div>
		<div
			options='{"field":"orderbid","dataType":"java.lang.String","title":"orderbid","editType":"String","editable":true}'></div>
		<div
			options='{"field":"taskfee","dataType":"java.math.BigInteger","title":"taskfee","editType":"String","editable":true}'></div>
		<div
			options='{"field":"issettle","dataType":"java.lang.Boolean","title":"issettle","editType":"String","editable":true}'></div>
		<div
			options='{"field":"isfinished","dataType":"java.lang.Boolean","title":"isfinished","editType":"String","editable":true}'></div>
	</div>
	
	
	
	
	<!--数据表格--结束>


<!--tabs控件 切换active状态包括线性跟随和背景跟随 tabs控件依赖 u-tabs 类，状态类是共用的。 改变修饰类可以改变active样式。 默认是active状态为线性跟随 添加修饰类.u-tabs-pill 为背景跟随-->
<div class="u-tabs">
    <div class="u-tabs__tab-bar">
        <a href="#tab-panel-1" class="u-tabs__tab is-active">页签1</a>
        <a href="#tab-panel-2" class="u-tabs__tab">页签2</a>
        <a href="#tab-panel-3" class="u-tabs__tab">页签3</a>
    </div>
    <div class="u-tabs__panel is-active" id="tab-panel-1">
        <ul>
            <li>项目1</li>
            <li>项目2</li>
            <li>项目3</li>
            <li>项目4</li>
            <li>项目5</li>
        </ul>
    </div>
    <div class="u-tabs__panel" id="tab-panel-2">
        <ul>
            <li>项目1</li>
            <li>项目2</li>
            <li>项目3</li>
        </ul>
    </div>
    <div class="u-tabs__panel" id="tab-panel-3">
        <ul>
            <li>项目1</li>
            <li>项目2</li>
        </ul>
    </div>
</div>


</div>


