* {
	margin: 0;
	padding: 0;
	font-size:12px;
	font-family:arial,宋体;
}

dl h4{
	float: left;
}

ul, ol {
	list-style: none;
}

.title {
	text-align: center;
	color: #ADADAD;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 16px 5px 10px;
}

.hidden {
	display: none;
}

.new-btn-login-sp {
	float: center;
	border: 1px solid #D74C00;
	padding: 1px;
	display: inline-block;
}

.new-btn-login {
	background-color: #ff8c00;
	color: #FFFFFF;
	font-weight: bold;
	border: medium none;
	width: 82px;
	height: 28px;
	text-align: center;
}

.new-btn-login:hover {
	background-color: #ffa300;
	width: 82px;
	color: #FFFFFF;
	font-weight: bold;
	height: 28px;
}
.btn-confirm-center{
	text-align: center;
}
#main {
	width: 750px;
	margin: 0 auto;
	font-size: 14px;
	font-family: arial,"microsoft yahei";
}

#form_body {
	clear: left;
}

#form_body dl div{
	padding: 5px;
}

#form_body dl div dd input{
	width: 250px;
}
.red-star {
	color: #f00;
	width: 10px;
	display: inline-block;
}

.content {
	margin-top: 5px;
}

.content dt {
	width: 160px;
	display: inline-block;
	text-align: right;
	float: left;
}

.content dd {
	margin-left: 150px;
	margin-bottom: 5px;
}

.cashier-nav {
	font-size: 14px;
	margin: 10px 0 10px;
	text-align: left;
	height: 23px;
	border-bottom: solid 2px #CFD2D7;
}

.cashier-nav ol li {
	float: left;
}

.cashier-nav li.current {
	color: #AB4400;
	font-weight: bold;
}

.cashier-nav li.last {
	clear: right;
}

.share_link {
	float: right;
	color: #8D8D8D;
}
.pl-wrap {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 12px
}

.pl-item {
	position: relative;
	float: left;
	background-color: #fff;
	padding: 5px 0;
	height: 28px;
	width: 188px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #b0c2e1;
	border-radius: 2px;
}

.pl-item .pl-i-selected {
	display: none;
	position: absolute;
	width: 19px;
	height: 19px;
	right: 0;
	top: 0;
	background-image: url("images/pay-elements.png");
	background-repeat: no-repeat;
	background-position: -39px -94px
}

.pl-item.hover {
	border-color: #ff5d5b;
	z-index: 20
}

.pl-item.hover .pl-i-info {
	visibility: visible;
	opacity: 1;
	bottom: -22px
}

.pl-item.promotion .pl-i-selected {
	display: block;
	background-position: -67px -94px;
	width: 30px;
	height: 30px
}

.pl-item.selected {
	border-color: #ff5d5b
}

.pl-item.selected .pl-i-selected {
	width: 19px;
	height: 19px;
	display: block;
	background-position: -39px -94px
}

.bank-logo {
	background-image: url("images/bank-logo.png");
	margin-left: 25px;
	float: left;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 5px;
	display: block;
	width: 125px;
	height: 28px;
	overflow: hidden;
	text-indent: -9999px;
}

#bank-icbc {
	background-position: 0 -140px
}

#bank-ccb {
	background-position: 0 -336px
}

#bank-cmb {
	background-position: 0 -784px
}

#bank-abc {
	background-position: 0 -532px
}

#bank-boc {
	background-position: 0 -840px
}

.bank-list{
	display:none;
}

#MAINA{
	width:950px;
	padding:0;
	margin:3px auto 0 auto; 
	repeat-x top left;
	overflow:hidden;
	repeat-x top left;
	padding:14px 0 0;
}
.mindexa{
	width:950px;
	background:#fff;
	margin:5px 0 0;
	padding:0;
}

.mrmain{
	margin:10px 0 0;
	width:704px;
	margin-left:auto;
	margin-right: auto;
}

.mrmain table{
	padding:0;
	margin:0 auto;
	width:90%;
}

.mrmain table tr th{
	font-size:12px;
	font-weight:400;
	text-align:right;
	padding:3px;
}

.mrmain table tr td{
	tepadding:3px;
	text-align:left;
}

.mrmain table tr td span{
	color:#878787;
}

.mrmain table tr td strong{
	color:#CE020E;
	font-size:14px;
}

.mrmain table tr td select{
	width:150px;
}

.mrmain table tr td input{
	width:450px;
}

.wtxt{
	border:1px #A5ACB2 solid;
	width:131px;
	height:20px;
}

.pay_channel_list div input[type="radio"]{
	width: 15px;
	height: 15px;
	margin: 3px;
	padding-left:3px;
}